<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="contents-left">
    <h3> Mikit </h3>
    <ul>
      <li> 轻量级前端框架</li>
    </ul>
    <p>Mikit是jQuery版本的灵活易用、功能强大的CSS&JS框架，Mikit为轻量级Web应用开发提供动力。</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <div class="contents-right">
    <h3> MixSlider </h3>
    <ul>
      <li> Mixslider极简单jQuery响应式滑块</li>
    </ul>
    <p>jQuery版本的相应式幻图影滑块插件</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
